In [1]:
print('Twinkle, twinkle, little star, \n         How I wonder what you are!\n                Up above the world so high,\n                Like a diamond in the sky.\nTwinkle, twinkle, little star,\n         How I wonder what you are')

Twinkle, twinkle, little star,
         How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
Twinkle, twinkle, little star,
         How I wonder what you are

In [2]:
import sys
print(sys.version)

3.8.9 (tags/v3.8.9:a743f81, Apr  2 2021, 11:10:41) [MSC v.1928 64 bit (AMD64)]

In [3]:
from datetime import datetime
now = datetime.now()
 
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

date and time = 24/10/2021 17:27:29

In [4]:
import math
radius =int(input('Enter Radius of Circle'))
print('Area of Circle is',math.pi*(radius)**2)

Enter Radius of Circle5
Area of Circle is 78.53981633974483

In [5]:
firstName = input('Enter First Name ')
lastName = input('Enter Last Name ')
fullName=firstName+lastName
print(fullName[::-1])

Enter First Name John
Enter Last Name  Smith
htimS nhoJ

In [6]:
firstNo = int(input('Enter First No '))
lastNo = int(input('Enter Second No '))
print('Sum of two nos is',firstNo+lastNo)

Enter First No 23
Enter Second No 22
Sum of two nos is 45

In [7]:
math = int(input('Enter Maths Marks '))
physics = int(input('Enter Physics Marks '))
chemistry = int(input('Enter Chemistry Marks '))
english = int(input('Enter English Marks '))
urdu = int(input('Enter Urdu Marks '))

sum = math+physics+english+urdu+chemistry
percentage = (sum/500)*100

print('Subjects                 Marks\n1. Math                    '+str(math)+'\n')
print('2. Physics                 '+str(physics)+'\n')
print('3. Chemistry               '+str(chemistry)+'\n')
print('4. English                 '+str(english)+'\n')
print('5. Urdu                    '+str(urdu)+'\n')
print('Total Out of 500 Marks     '+str(sum)+'\n')
print('Percentage                 '+str(percentage)+'\n')

Enter Maths Marks 23
Enter Physics Marks 43
Enter Chemistry Marks 65
Enter English Marks 77
Enter Urdu Marks 34
Subjects                 Marks
1. Math                    23

2. Physics                 43

3. Chemistry               65

4. English                 77

5. Urdu                    34

Total Out of 500 Marks     242

Percentage                 48.4

No = int(input('Enter Number '))
if No%2 == 0:
   print('Number is Even')
else:
   print('Number is Odd')

In [9]:
No = int(input('Enter Number ')) 
if No%2 == 0: 
    print('Number is Even')
else: 
    print('Number is Odd')

Enter Number 23
Number is Odd

In [10]:
list = ['apple','banana','orange','grapes','capricode']
print(len(list))

5

In [13]:
list = [2,7,10,4,34]
sum=0
for i in list:
    sum=sum+i
        
print('Sum of Numeric No. in list is ',sum)

Sum of Numeric No. in list is  57

In [15]:
list = [2,77,10,4,34]
greaterNo = None
for i in list:
    if i > greaterNo:
        greaterNo=i
print(greaterNo)

77

In [19]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
lessNo = []
for i in list:
    print()
    if i < 5:
        lessNo.append(i)
print(lessNo)

[2, 4]